@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: "Montserrat", sans-serif;
}

/* Common classes */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

:root {
    --primary-color: #543AD7;
    --seconday-color: #FFFFFF;
}

.light-color {
    color: #666666;
}

.color-3d {
    color: #3D3D3D;
}

.color-33 {
    color: #333333;
}

.container {
    max-width: 1290px !important;
}

.container-2 {
    max-width: 1076px;
    margin: 0 auto;
    padding: 0 15px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

.title {
    font-size: 20px;
}

.title-1 {
    font-size: 22px;
}

.title-14 {
    font-size: 14px;
}


/*---------------------------------------------- MODAL PAGE----------------------------------------------------------  */



.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.modal-content {
    width: 95%;
    background: #F7F8FA;
    margin: 5% auto;
    padding: 32px;
    border-radius: 25px;
    max-width: 415px;
    position: relative;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.light-color {
    color: #666666;
}

.terms>a {
    color: #000;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
    color: #888;
}

.username,
.password {
    padding: 13px 17px;
    background: var(--seconday-color);
    width: 100%;
    border: none;
    margin-bottom: 14px;
    border-radius: 50px;
}

.forgot {
    color: var(--primary-color);
}

.button-text {
    color: #3D3D3D;
}

#openRegisterFromLogin,
#terms {
    color: black;
}

.f-l-name,
.p-e-contact {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.f-l-name>input,
.p-e-contact>input,
.psword,
.c-psword {
    margin-bottom: 14px;
    width: 100%;
    padding: 13px 17px;
    border: none;
    border-radius: 50px !important;
    background: var(--seconday-color);
}

.check-font {
    font-size: 12px;
}

/* Header section */
header {
    position: absolute;
    padding: 34px 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.container-wrapper {
    padding: 0 90px;
}

.nav {
    background: #FFFFFF;
    border-radius: 50px;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    margin-bottom: 0;
    gap: 41px;
}

.mobile-hidden a {
    color: #3D3D3D;
}

.mobile-hidden>li:first-child>a {
    color: var(--primary-color)
}

.nav-btn>a:first-child {
    color: #3D3D3D;
}

.nav-btn>:last-child {
    margin-left: 20px;
    padding: 7px 22px;
    background: var(--primary-color);
    border-radius: 50px;
    color: var(--seconday-color);
    border: none;
}

.nav-logo {
    width: 140px;
    height: 55.04px;
}

.nav-logo>a,
.nav-logo>a>img {
    height: 100%;
    width: 100%;
}

.mobile-nav {
    display: none;
}

#openLogin-2 {
    padding: 7px 22px 7px;
    background: var(--seconday-color);
    border-radius: 50px;
    color: var(--primary-color);
    font-weight: 600;
    border: none;
}

.nav-toggler {
    display: none;
}


/* Banner secetion */
.banner-section {
    padding: 10px 30px;
}


.banner-wrapper {
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    min-height: 462px;
    background: url(../Assets/about/Hero\ section.png) no-repeat center/cover;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--seconday-color);
    font-family: "Montserrat", sans-serif;
}

.banner-content>a {
    font-size: 20px;
    color: var(--seconday-color);
    font-family: "Lato", sans-serif;
}

/* prop-details section */
.prop-details-section {
    padding: 75px 0;
}

.prop-wrapper {
    background: url(../Assets/prop-details.png) no-repeat center/cover;
    height: 500px;
    border-radius: 40px;
}

.prop-img {
    height: 40px;
    width: 40px;
}

.prop-img>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.details-box {
    padding: 27px 73px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    top: -74px;
    background: white;
    max-width: 880px;
    text-align: center;
    border-radius: 15px;
}

/* sobha villa section */

.sobha-1,
.sobha-2 {
    max-width: 308px;
    max-height: 175px;
}

.sobha-3 {
    margin-left: 13px;
    max-width: 404px;
    max-height: 362px;
}

.sobha-1>img,
.sobha-2>img,
.sobha-3>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Flor plan section */
.flor-plan-section {
    padding-top: 125px;
}

.border-right {
    border-right: 1px solid #D3D3D3;
}

.flor-img {
    max-width: 500px;
    max-height: 392px;
    margin: 0 auto;
}

.form-check {
    margin-bottom: 18px;
}

.flor-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Contact section */
.contact-section {
    padding: 125px 0 75px 0;
}

.touch {
    border-radius: 40px;
    background: #F7F8FA;
    padding: 33px 46px;
}

#name,
#last,
#phone,
#email-2 {
    border: none;
    border-radius: 60px;
    padding: 14px 20px;
}

#message {
    border: none;
    border-radius: 25px;
    padding: 14px 22px;
}

.submit-btn {
    background: var(--primary-color);
    padding: 12px 24px;
    color: var(--seconday-color);
    border: none;
    border-radius: 60px;
    margin-top: 37px;
}

.blue-line {
    display: inline-block;
    height: 2px;
    width: 55px;
    background: var(--primary-color);
}

.max {
    max-width: 430px;
    margin-block: 16px;
}

.contact-right .light-color {
    max-width: 437px;
}

/* Explore section */
.explore-section {
    padding-bottom: 75px;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.swiper-pagination-bullet {
    width: 30px;
    height: 6px;
    background-color: #e0e0e0;
    /* Inactive color */
    opacity: 1;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    background-color: #5e3bd1;
    /* Active purple color */
    width: 40px;
}


.explore-wrapper {
    background: #F7F8FA;
    border-radius: 40px;
    padding: 80px 0;
    margin: 0 15px;
}

.swiper {
    width: 100%;
}

.swiper-wrapper {
    margin-bottom: 52px;
}

#explore-swiper .swiper-slide {
    display: flex;
    justify-content: center;
}

.slider-btn {
    width: auto;
}

.slider-btn>a {
    padding: 11px 22px;
    background: var(--primary-color);
    color: var(--seconday-color);
    border-radius: 50px;
    font-size: 20px;
}

.rating,
.location {
    height: 16px;
    width: 16px;
}

.swiper-explore-1,
.swiper-explore-2,
.swiper-explore-3,
.swiper-explore-4 {
    max-height: 350px;
    max-width: 286px;
}

.swiper-img {
    height: 350px;
}

.swiper-img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.box-shadow {
    background: rgb(0 0 0 / 71%);
    color: var(--seconday-color);
    bottom: 9px;
    left: 10px;
    right: 10px;
    padding: 23px;
    border-radius: 25px;
    max-height: 116px;
}

.rating>img,
.location>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.explore-title>span {
    font-size: 18px;
}

.explore-location {
    gap: 25px;
    justify-content: space-between;
}

.details-btn {
    padding: 4px 12px;
    border: 2px solid var(--seconday-color);
    border-radius: 60px;
    font-size: 12px;
    color: var(--seconday-color);
}

/* Email newsletter section */
.email-section {
    padding-bottom: 75px;
}

#email {
    padding: 15px 28px;
    min-width: 404px;
    border-radius: 50px;
    border: 1px solid #333333;
    max-height: 50px;
}

.email-title {
    max-width: 455px;
}

.email-btn {
    padding: 11px 28px;
    max-height: 51px;
    min-width: 161px;
    border: none;
    border-radius: 50px;
    background: var(--primary-color);
    color: var(--seconday-color);

}

/* Footer section */
.footer-section {
    padding-block: 33px 54px;
}

.footer-logo {
    max-width: 140px;
    max-height: 55.04px;
}

.social-footer {
    width: 40px;
    height: 40px;
}

.social-footer>a,
.social-footer>a>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.footer-content>p {
    color: #868686;
    margin-block: 27px;
}

.footer-logo>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.borderY>span {
    display: inline-block;
    height: 200px;
    width: 2px;
    background: #C7C7C7;
    margin: 0 68px;
}

.footer-link>h3 {
    margin-bottom: 21px;
}

.links>a {
    display: block;
    color: #868686;
    margin-bottom: 12px;
}

.row-top>div,
.row-bottom>div {
    height: 64px;
    width: 95px;
}

.row-top>div>a,
.row-top>div>a>img,
.row-bottom>div>a,
.row-bottom>div>a>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Copyright section */
.copyright-section {
    padding: 20px 0;
}




/* --------------------------------------------BREAKPOINT----------------------------------------------------------------------- */
@media screen and (max-width:1200px) {

    /* Footer section */
    .borderY>span {
        margin: 0 35px;
    }
}

@media screen and (max-width:992px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    /* Header section */
    .nav-logo {
        margin-left: 0 !important;
    }

    .mobile-hidden,
    .nav-btn {
        display: none !important;
    }

    .nav-toggler {
        display: flex;
    }

    .nav-toggler>span {
        display: inline-block;
        color: black;
        font-weight: 400;
        font-size: 18px;
    }

    .mobile-ul {
        margin-top: 38px;
    }

    .mobile-nav {
        position: fixed;
        top: 0;
        right: -270px;
        width: 270px;
        height: 100vh;
        background: var(--primary-color);
        padding: 30px 20px;
        transition: right 0.3s ease;
        z-index: 10000;
        display: block;
        box-shadow: 8px 0 35px #00000091;
    }

    .mobile-nav.active {
        right: 0;
    }

    .mobile-nav a {
        color: white;
        display: block;
        margin-bottom: 15px;
        font-weight: 500;
    }

    .cancel-btn {
        background: none;
        border: none;
        color: black;
        font-size: 24px;
        font-weight: 800;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1040;
        display: none;
    }

    .overlay.active {
        display: block;
    }

    /* Banner section */
    .container-wrapper {
        padding: 0 40px;
    }

    /*Prop-details-section  */
    .prop-wrapper {
        height: 380px;
    }

    .details-box {
        padding: 27px 34px;
        width: 95%;
    }

    /* Sobha villa section */
    .sobha-villa-section .title {
        margin-block: 18px;
    }

    .sobha-villa-section h2 {
        margin-bottom: 15px;
    }

    /* Contact section */
    .blue {
        justify-content: center;
    }

    .contact-right .max,
    .contact-right .light-color {
        text-align: center;
        margin: 0 auto;
    }

    .touch {
        margin: 0 auto;
        width: 90%;
        padding: 20px;
    }

    .contact-right {
        margin-top: 30px !important;
    }

    /* Email newsletter section */
    .email-title {
        margin: 0 auto;
        margin-bottom: 15px;
        text-align: center;
    }

    .email-search {
        justify-content: center;
        flex-wrap: wrap;
    }

    #email {
        min-width: auto;
    }

    /* Footer section */
    .borderY {
        display: none;
    }

    .footer-content,
    .footer-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .footer-content p {
        text-align: center;
    }

    .footer-content>p {
        text-align: center;
    }

    .footer-link {
        margin-top: 15px;
    }

    .links>a {
        text-align: center;
    }

    .footer-property {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row-top>div,
    .row-bottom>div {
        width: 65px;
    }


}

@media screen and (max-width:767.98px) {
    h3 {
        font-size: 15px;
    }

    /*Prop-details-section  */
    .prop-details-section {
        padding: 30px 0;
        height: 550px;
    }

    .prop-wrapper {
        border-radius: 18px
    }

    .details-box {
        padding: 27px;
        top: -150px;
    }

    /* flor plan section */
    .flor-plan-section {
        padding-top: 65px;
    }

    .form-check {
        font-size: 12px;
    }

    /* cotact section */
    .contact-section {
        padding: 52px 0 48px 0;
    }

    .touch {
        border-radius: 18px;
    }

    /* Explore section */
    .explore-section {
        padding-bottom: 50px;
    }

    .explore-wrapper {
        border-radius: 18px;
    }

    .slider-btn>a {
        font-size: 13px;
    }

    /* Email newletters section */
    .email-section {
        padding-bottom: 48px;
    }

    #email {
        padding: 11px 28px;
        font-size: 13px;
    }

    .email-btn {
        font-size: 13px;
    }

    /* Fotter section */
    .footer-section {
        padding: 30px 0;
    }

}

@media screen and (max-width:576px) {
    h1 {
        font-size: 21px;
    }

    h2 {
        font-size: 17px;
    }

    h3 {
        font-size: 15px;
    }

    .title-14 {
        font-size: 12px;
    }

    /* MODAL PAGE */
    .check-font {
        font-size: 10px;
    }

    /* Header section */
    .container-wrapper {
        padding: 0 20px;
    }

    .nav-logo {
        width: 78px;
        height: 34.04px;
    }


    /* Banner section */
    .banner-wrapper {
        border-radius: 18px;
    }

    .banner-section {
        padding: 8px;
    }

    .banner-content>a {
        font-size: 13px;
    }

    /* Prop-details-section */
    .prop-img {
        height: 28px;
        width: 28px;
    }

    /* Sobha villa section */
    .sobha-villa-section .title {
        font-size: 15px;
    }

    /* cotact section */
    .touch {
        width: 94%;
    }

    .contact-section label {
        font-size: 13px;
    }

    #name,
    #last,
    #phone,
    #email-2,
    #message {
        font-size: 12px;
    }

    .submit-btn {
        font-size: 12px;
    }

    /* Explore section */
    .explore-wrapper {
        margin: 0 2px;
    }



    /* Copyright section */
    .copyright-section {
        font-size: 12px;
    }

    /* Footer section */
    .footer-content p {
        font-size: 13px;
    }

}