@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

body,
html {
    overflow-x: hidden;
}

/* Common classes */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

:root {
    --primary-color: #543AD7;
    --seconday-color: #FFFFFF;
}

.light-color {
    color: #666666;
}

.color-3d {
    color: #3D3D3D;
}

.color-33 {
    color: #333333;
}

.container {
    max-width: 1290px !important;
}

.container-2 {
    max-width: 1076px;
    margin: 0 auto;
    padding: 0 15px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

.title {
    font-size: 20px;
}

/*---------------------------------------------- MODAL PAGE----------------------------------------------------------  */

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.modal-content {
    width: 95%;
    background: #F7F8FA;
    margin: 5% auto;
    padding: 32px;
    border-radius: 25px;
    max-width: 415px;
    position: relative;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.light-color {
    color: #666666;
}

.terms>a {
    color: #000;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
    color: #888;
}

.username,
.password {
    padding: 13px 17px;
    background: var(--seconday-color);
    width: 100%;
    border: none;
    margin-bottom: 14px;
    border-radius: 50px;
}

.forgot {
    color: var(--primary-color);
}

.button-text {
    color: #3D3D3D;
}

#openRegisterFromLogin,
#terms {
    color: black;
}

.f-l-name,
.p-e-contact {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.f-l-name>input,
.p-e-contact>input,
.psword,
.c-psword {
    margin-bottom: 14px;
    width: 100%;
    padding: 13px 17px;
    border: none;
    border-radius: 50px !important;
    background: var(--seconday-color);
}

.check-font {
    font-size: 12px;
}

/* Header section */
header {
    position: absolute;
    padding: 34px 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.container-wrapper {
    padding: 0 90px;
}

.nav {
    background: #FFFFFF;
    border-radius: 50px;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    margin-bottom: 0;
    gap: 41px;
}

.mobile-hidden a {
    color: #3D3D3D;
}

.mobile-hidden>li:first-child>a {
    color: var(--primary-color)
}

.nav-btn>a:first-child {
    color: #3D3D3D;
}

.nav-btn>:last-child {
    margin-left: 20px;
    padding: 7px 22px;
    background: var(--primary-color);
    border-radius: 50px;
    color: var(--seconday-color);
    border: none;
}

.nav-logo {
    width: 140px;
    height: 55.04px;
}

.nav-logo>a,
.nav-logo>a>img {
    height: 100%;
    width: 100%;
}

.mobile-nav {
    display: none;
}

#openLogin-2 {
    padding: 7px 22px 7px;
    background: var(--seconday-color);
    border-radius: 50px;
    color: var(--primary-color);
    font-weight: 600;
    border: none;
}

.nav-toggler {
    display: none;
}

/* Banner secetion */
.banner-section {
    padding: 10px 30px;
}


.banner-wrapper {
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    min-height: 662px;
    background: url(../Assets/Banner-img.png) no-repeat center/cover;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--seconday-color);
    font-family: "Montserrat", sans-serif;
}

.banner-content>span {
    font-size: 20px;
    color: var(--seconday-color);
    font-family: "Lato", sans-serif;
}

.mark {
    padding: 5px;
    border-radius: 8px;
    background: var(--primary-color);
    padding: 0 4px;
    display: inline-block;
    color: var(--seconday-color);
}

/* Range section */
.range-box {
    padding: 28px 24px;
    margin: 0 auto;
    max-width: 880px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;
    background: var(--seconday-color);
    border-radius: 14px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    top: -110px;
}

.range {
    display: flex;
    gap: 6px;
    background: #F4F4F4;
    border-radius: 40px;
    padding: 8px 15px 8px 23px;
}

.price-range {
    display: flex;
    flex-direction: column;
    gap: 9px;
}


.dollar-sign,
.house-img {
    height: 14px;
    width: 14px;
    margin: 0 0 11px;
}

.dollar-sign>img,
.house-img>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.usd-img {
    height: 16px;
    width: 8px;
    margin: 0 0 9px;
}

.usd-img>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.room-img {
    height: 16px;
    width: 16px;
    margin: 0 0 9px;
}

.room-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.range select {
    background: transparent;
    font-size: 13px;
    border: none;
    outline: none;
    min-width: 63px;
}

#desire-location {
    border: none;
    background: #F4F4F4;
    border-radius: 40px;
    padding: 6px 22px;
    min-width: 350px;
    margin-bottom: 10px;
}

/* ===== dual‑price slider ===== */
.slider-wrapper {
    max-width: 340px;
    position: relative;
    margin-bottom: 10px;
}

.values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.values span {
    background: var(--primary-color);
    color: #fff;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.range-slider {
    position: relative;
    height: 8px;
    background: #eee;
    border-radius: 5px;
}

input[type=range] {
    position: absolute;
    width: 100%;
    height: 8px;
    -webkit-appearance: none;
    background: transparent;
    pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #5f2eed;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    z-index: 2;
}

input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
    pointer-events: auto;
}

.slider-track {
    position: absolute;
    width: 100%;
    height: 8px;
    background: #eee;
    border-radius: 5px;
    z-index: 0;
}

.slider-fill {
    position: absolute;
    height: 8px;
    background: var(--primary-color);
    z-index: 1;
    border-radius: 5px;
}

/* ====================================== */
.border-y>span {
    display: inline-block;
    height: 100px;
    width: 3px;
    background: #F4F4F4;
    margin-left: 16px;
}

.search-btn {
    margin: auto;
}

.btn-primary {
    background: var(--primary-color);
    border: none;
    border-radius: 100px;
    font-size: 20px;
    padding: 10px 35px;
    font-weight: bold;
}

/* Apart-section */
.apartment-section {
    padding: 15px 0;
}

.prop-card {
    border-radius: 25px;
    background: var(--seconday-color);
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.120);
    padding: 29px 30px;
    text-wrap: nowrap;
    max-width: 175px;
    margin: 0 auto;
}

.prop-img {
    margin: 0 auto 16px;
    height: 58px;
    width: 65px;
    border-radius: 15px;
    border: 2px solid #F4F4F4;
    padding: 9px 13px;
}

.prop-img>img {
    height: 100%;
    width: 100%;
}

.prop-6 {
    font-size: 14px;
}

/* About section */
.about-section {
    padding-top: 200px;
    padding-bottom: 75px;
}

.blue-line {
    display: inline-block;
    height: 2px;
    width: 55px;
    background: var(--primary-color);
}

.about-img {
    max-width: 535px;
    max-height: 450px;
    margin: 0 auto;
}

.about-img>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.about-small {
    max-width: 480px;
    max-height: 332px;
    top: -165px;
    right: -65px;
}

.about-small>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.counter-box {
    text-wrap: nowrap;
}

.count {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-radius {
    border-radius: 50%;
    box-shadow: 0 6px 35px rgba(0, 0, 0, 0.115);
}

.about-icon {
    height: 60px;
    width: 60px;
}

.about-icon>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.counter {
    color: var(--primary-color);
    font-size: 28px;
    margin-bottom: 3px;
}

.icon-content {
    height: 60px;
}

/* for tablet screen */
.about-tablet {
    max-width: 592px;
    max-height: 616px;
    display: none;
}

.about-tablet>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Explore section */
.explore-section {
    padding-bottom: 100px;
}

.explore-wrapper {
    background: #F7F8FA;
    border-radius: 40px;
    padding: 80px 0;
    margin: 0 15px;
}

.swiper {
    width: 100%;
}

.swiper-wrapper {
    margin-bottom: 52px;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.swiper-pagination-bullet {
    width: 30px;
    height: 6px;
    background-color: #e0e0e0;
    /* Inactive color */
    opacity: 1;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
    /* Active purple color */
    width: 40px;
}

#explore-swiper .swiper-slide {
    display: flex;
    justify-content: center;
}

.slider-btn {
    width: auto;
}

.slider-btn>a {
    padding: 11px 22px;
    background: var(--primary-color);
    color: var(--seconday-color);
    border-radius: 50px;
    font-size: 20px;
}

.rating,
.location {
    height: 16px;
    width: 16px;
}

.swiper-explore-1,
.swiper-explore-2,
.swiper-explore-3,
.swiper-explore-4 {
    max-height: 350px;
    max-width: 286px;
}

.swiper-img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box-shadow {
    background: rgb(0 0 0 / 71%);
    color: var(--seconday-color);
    bottom: 9px;
    left: 10px;
    right: 10px;
    padding: 23px;
    border-radius: 25px;
    height: 110px;
}

.rating>img,
.location>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.explore-title>span {
    font-size: 18px;
}

.explore-location {
    gap: 25px;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
}

.details-btn {
    padding: 4px 12px;
    border: 2px solid var(--seconday-color);
    border-radius: 60px;
    font-size: 12px;
    color: var(--seconday-color);
}

/* Services section */
.submit-btn {
    padding: 12px 32px;
    background: var(--primary-color);
    color: var(--seconday-color);
    border-radius: 60px;
    margin-bottom: 20px;
    border: none;
}

.service-img {
    max-width: 511px;
    max-height: 500px;
    margin: 0 auto;
}

.service-img>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.service-s-img {
    max-width: 266px;
    max-height: 332px;
    left: -74px;
    bottom: -47px;
}

.service-s-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* For tablet view */
.service-tablet {
    max-width: 571px;
    max-height: 559px;
    display: none;
    margin: auto;
}

.service-tablet>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Testimonail section */
.testimonial-section {
    padding: 75px 15px;
}

.test-wrapper {
    padding: 57px 0;
    background: #F7F8FA;
    border-radius: 40px;
}

.test-card {
    background: url(../Assets/testimonial1.png) no-repeat center/cover;
}

.test-card-2 {
    background: url(../Assets/testimonial2.png) no-repeat center/cover;

}

.test-card,
.test-card-2 {
    position: relative;
    height: 370px;
    max-width: 511px;
    border-radius: 30px;
}

.TC {
    margin-block: 7px 40px;
}

.test-content {
    width: 340px;
    padding: 23px 40px;
    position: absolute;
    background: var(--seconday-color);
    left: 280px;
    top: 71px;
    border: 2px solid #C7C7C7;
    border-radius: 20px;
}

.test-content>:nth-child(3) {
    gap: 17px;
}

.test-img {
    height: 50px;
    width: 50px;
}

.test-img>img {
    height: 100%;
    width: 100%;
}

/* Companies section */
.company-sectio {
    padding: 75px 0;
}

.company>div>div {
    flex-direction: column;
}

.company-head {
    font-size: 20px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.company-rotate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 39px;
}

@media (prefers-reduced-motion: reduce) {
    .carousel-track {
        animation: none;
    }

    .carousel-track {
        justify-content: space-around;
        width: 100%;
    }

    .logo-group:last-child {
        display: none;
    }
}

/* Focus states for accessibility */
.logo-item:focus-within {
    outline: 2px solid #007bff;
    outline-offset: 2px;
    border-radius: 4px;
}

.logo-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 12px;
    padding: 2rem 0;
}

.carousel-track {
    display: flex;
    width: calc(200% + 40px);
    animation: scroll 20s linear infinite;
}

.carousel-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Email newsletter section */
.email-section {
    padding: 75px 0;
}

#email {
    padding: 15px 28px;
    min-width: 404px;
    border-radius: 50px;
    border: 1px solid #333333;
    max-height: 50px;
}

.email-title {
    max-width: 455px;
}

.email-btn {
    padding: 11px 28px;
    max-height: 51px;
    min-width: 161px;
    border: none;
    border-radius: 50px;
    background: var(--primary-color);
    color: var(--seconday-color);

}

/* Footer section */
.footer-section {
    padding-block: 33px 54px;
}

.footer-logo {
    max-width: 140px;
    max-height: 55.04px;
}

.social-footer {
    width: 40px;
    height: 40px;
}

.social-footer>a,
.social-footer>a>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.footer-content>p {
    color: #868686;
    margin-block: 27px;
}

.footer-logo>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.borderY>span {
    display: inline-block;
    height: 200px;
    width: 2px;
    background: #C7C7C7;
    margin: 0 68px;
}

.footer-link>h3 {
    margin-bottom: 21px;
}

.links>a {
    display: block;
    color: #868686;
    margin-bottom: 12px;
}

.row-top>div,
.row-bottom>div {
    height: 64px;
    width: 95px;
}

.row-top>div>a,
.row-top>div>a>img,
.row-bottom>div>a,
.row-bottom>div>a>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Copyright section */
.copyright-section {
    padding: 20px 0;
}


@media screen and (max-width:1400px) {

    /* Testimonial section */
    .test-content {
        left: 228px;
    }
}

@media screen and (max-width:1200px) {

    /* Apart-section */
    .title {
        font-size: 16px;
    }

    /* About section */
    .blue {
        margin-top: 15px;
        justify-content: center;
    }

    .about-content {
        text-align: center;
    }

    .about-content>h2 {
        margin-block: 18px;
    }

    /* services section */
    .overlap-issue {
        max-width: 420px;
    }

    /* Testimonial section */
    .test-card,
    .test-card-2 {
        max-width: 410px;
    }

    .test-content {
        left: 117px;
    }

    /* Footer section */
    .borderY>span {
        margin: 0 35px;
    }
}

@media screen and (max-width:992px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    /* Header section */
    .nav-logo {
        margin-left: 0 !important;
    }

    .mobile-hidden,
    .nav-btn {
        display: none !important;
    }

    .nav-toggler {
        display: flex;
    }

    .nav-toggler>span {
        display: inline-block;
        color: black;
        font-weight: 400;
        font-size: 18px;
    }

    .mobile-ul {
        margin-top: 38px;
    }

    .mobile-nav {
        position: fixed;
        top: 0;
        right: -270px;
        width: 270px;
        height: 100vh;
        background: var(--primary-color);
        padding: 30px 20px;
        transition: right 0.3s ease;
        z-index: 10000;
        display: block;
        box-shadow: 8px 0 35px #00000091;
    }

    .mobile-nav.active {
        right: 0;
    }

    .mobile-nav a {
        color: white;
        display: block;
        margin-bottom: 15px;
        font-weight: 500;
    }

    .cancel-btn {
        background: none;
        border: none;
        color: black;
        font-size: 24px;
        font-weight: 800;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1040;
        display: none;
    }

    .overlay.active {
        display: block;
    }


    /* Banner section */
    .container-wrapper {
        padding: 0 40px;
    }



    /* Range section */
    .range-section {
        height: 300px;
    }

    .range-box {
        justify-content: center;
        width: 90%;
        top: -235px;
    }

    .rent-usd,
    .range select,
    .house-room {
        width: 100%;
    }

    .border-y {
        display: none;
    }

    .search-btn,
    .btn-primary {
        width: 100%;
    }

    /* Apart-section */
    .prop-card {
        padding: 17px 8px;
    }

    .title {
        font-size: 14px;
    }

    /* About section */

    .counter {
        font-size: 20px;
    }

    .counter-box {
        text-align: start;
    }

    /* Services section */
    #services-section .row {
        flex-direction: column-reverse;
    }

    .overlap-issue {
        max-width: 100%;
    }

    .service-img {
        margin-bottom: 45px;
    }

    /* Testimonial section */
    .test-card,
    .test-card-2 {
        margin: 0 auto;
    }

    /* Email newsletter section */
    .email-title {
        margin: 0 auto;
        margin-bottom: 15px;
        text-align: center;
    }

    .email-search {
        justify-content: center;
        flex-wrap: wrap;
    }

    #email {
        min-width: auto;
    }

    /* Footer section */
    .borderY {
        display: none;
    }

    .footer-content,
    .footer-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .footer-content p {
        text-align: center;
    }

    .footer-link {
        margin-top: 15px;
    }

    .links>a {
        text-align: center;
    }

    .footer-property {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row-top>div,
    .row-bottom>div {
        width: 65px;
    }


}

@media screen and (max-width:767.98px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    /* Range section */
    .range-section {
        height: 250px;
    }

    .search-btn>div {
        font-size: 13px;
    }

    /* About section */
    .about-section {
        padding: 40px 0;
    }

    .icon-content {
        font-size: 14px;
    }

    /* for tablet screen */
    .about-tablet {
        display: block;
        margin: 0 auto;
    }

    .about-img {
        display: none;
    }

    /* Apartment section */
    .prop-img {
        height: 52px;
        width: 52px;
        padding: 9px;
    }

    /* Explore section */
    .explore-wrapper {
        padding: 45px 0;
    }

    .slider-btn>a {
        font-size: 13px;
    }

    /* service section */
    .service-img {
        display: none;
    }

    .submit-btn {
        font-size: 13px;
    }

    /* for tablet screen */
    .service-tablet {
        display: block;
    }

    /* Testimonial section */
    .testimonial-section {
        padding: 35px 0;
    }

    /* Companies section */
    .carousel-track {
        animation: scroll 4s linear infinite;
    }

    /* Email newsletters section */
    .email-section {
        padding: 50px 0;
    }

    .email-btn {
        font-size: 13px;
    }

    /* Fotter section */
    .footer-section {
        padding: 30px 0;
    }
}

@media screen and (max-width:576px) {
    h1 {
        font-size: 21px;
    }

    h2 {
        font-size: 17px;
    }

    h3 {
        font-size: 15px;
    }

    /* MODAL PAGE */
    .check-font {
        font-size: 10px;
    }

    /* Header section */
    .container-wrapper {
        padding: 0 20px;
    }

    .nav-logo {
        width: 78px;
        height: 34.04px;
    }

    /* Banner section */
    .banner-section {
        padding: 8px;
    }

    .banner-wrapper {
        border-radius: 18px;
    }

    .banner-content>span {
        font-size: 10px;
    }



    /* Range section */
    .range-box {
        width: 97%;
        padding: 12px;
    }

    #desire-location {
        min-width: 240px;
        font-size: 12px;
    }

    /* Apartment section */
    .prop-card {
        padding: 12px;
    }

    .title {
        font-size: 14px;
    }

    /* About-section */
    .about-section {
        padding: 30px 0;
    }

    .about-content>p {
        font-size: 12px;
    }

    .count {
        margin-bottom: 40px;
    }

    /* Explore section */
    .explore-section {
        padding-bottom: 50px;
    }

    .explore-wrapper {
        margin: 0 auto;
        width: 97%;
        border-radius: 18px;
    }

    /* Testimonial section */

    .test-wrapper {
        border-radius: 18px;
        width: 97%;
        margin: 0 auto;
    }

    .test-card,
    .test-card-2 {
        max-width: 256px;
    }

    .test-content {
        width: 230px;
        padding: 9px;
        left: 38px;
    }

    .test-content>p {
        font-size: 12px;
    }

    /* Copyright section */
    .copyright-section {
        font-size: 12px;
    }

    /* Footer section */
    .footer-content p {
        font-size: 13px;
    }
}